/* .App {
  text-align: center;
  display: flex;
} */

/* .App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
} */

main {
  flex-grow: 1;
  background-color: #BDBDBD;
}

