
main {
  flex-grow: 1;
  background-color: #03A9F4;
  width: 80%;
  margin: 0 auto;
}

.App {
  background-color:#C0DEED;
  background: url(https://abs.twimg.com/images/themes/theme1/bg.png) center top repeat-x;
}