.App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

main {
  flex-grow: 1;
  padding: 10px;
  background-color: gainsboro;
}

.testbox {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: blue;
}
