.left-header {
  width: 49%;
  text-align: left;
}

.right-header {
  width:49%;
  text-align: right;
}

.header-bar {
  /* background-color: #0288D1; */
  color: #FFFFFF;
  padding: 20px 50px;
}

.header-bar * {
  display: inline-block;
  margin: 4px 2px;
}

.right-header button {
  background-color: #03A9F4; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
