.home {
  background-color: #03A9F4;
  padding: 20px;
  color: #FFFFFF;
}


.home h2 {
  margin-top: 0;
}

.buttonLink {
  padding: 8px;
  width: 74px;
  font-size: 11px;
  text-decoration: none;
  background-color: white;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin: 10px;
  position: relative;
  left: 2%;
  box-shadow: none;
  color: #343434;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

