.home {
  background-color: #03A9F4;
  padding: 20px;
  color: #FFFFFF;
}

.home h2 {
  margin-top: 0;
}

.buttonLink {
    width: 74px;
    font: bold 11px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin: 10px;
}