.dayList {
  padding: 10px;
  margin: 10px;
  background-color: #03A9F4;
  color: #ffffff;
}

.dayList button {
  margin: 5px;
}

.dayList li {
  background-color: #B3E5FC
}

.singleTrip-header {
  background-color: #03A9F4;
  color: whitesmoke;
  padding: 20px;
}
