.dayList {
  padding: 10px;
  margin: 10px;
  background-color:#0288D1;
  color: #ffffff;
}


.dayList li {
  background-color: silver;
}

.singleTrip-header {
  background-color: #03A9F4;
  color: whitesmoke;
  padding: 20px;
}
