* {
  box-sizing: border-box;
}

body {
  font-family:Helvetica,Arial,sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  background-color: blue;
}

ul, li {
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
}

html, body, #root, .App, main {
  height: 100%;
}

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button, select {
  background-color: white;
}

form {
  background-color: lightsteelblue;
}

